{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link href="{% static 'css/semantic.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="ui secondary  menu">
    <a class="item" href="{% url 'home' %}">
        Главная
    </a>
    <div class="right menu">
        {% if user.is_authenticated %}
        <a class="item" href="{% url 'text' %}">
            Добавить мысль
        </a>
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="item" href="{% url 'profile' %}">
            {{ user.username }}
        </a>
        <a class="item" href="{% url 'logout' %}">
            Выйти
        </a>
        {% else %}
        <a class="item" href="{% url 'login' %}">
            Вход
        </a>
        {% endif %}
    </div>
</div>
<div class="ui container">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="ui green message">{{ message }}</div>
        {% endif %}
    {% endfor %}
</div>
<div class="ui one column doubling stackable grid container">
    <div class="column">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>